<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="mono.samples.button">
	<application />
	<uses-sdk />
	<instrumentation
	     android:targetPackage="mono.samples.button"
	     android:name="com.google.android.testing.nativedriver.server.ServerInstrumentation" />
	<uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
</manifest>